{{ block "footer" . }}
<footer class="footer no-print">
    <hr>
    {{/* Display links if available */}}
    {{ if .Site.Menus.footer }}
    <div class="footer-links">
        {{- range .Site.Menus.footer -}}
        {{ if eq (hasPrefix .URL "mailto:") true }}
        <a href="{{ .URL }}">{{- .Name -}}</a>
        {{ else }}
        <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
        {{- end -}}
        {{ end }}
    </div>
    {{ end }}

    <div class="copyright">
       
            &copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>{{ .Site.Params.footerCopyright | safeHTML }}
            
            {{- with (not (in (.Site.Language.Get "disableKinds") "RSS")) }} &#183; <a href="{{ "posts/index.xml" | absURL }}" target="_blank" title="rss"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>{{ end }}

    </div>
  
</footer>

{{ end }}